@model IEnumerable<WebMusicaGrupoC.ViewModels.GrupoAlbumesViewModel>

@{
    ViewData["Title"] = "IndexListadoAlbumes";
}

<h1>IndexListadoAlbumes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrupoNombreAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneroAlbum)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoNombreAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroAlbum)
            </td>
        </tr>
}
    </tbody>
</table>
