@model IEnumerable<WebMusicaGrupoC.Models.ConciertosGrupos>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice de Conciertos de los Grupos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<input id="searchInput" placeholder="Escriba para filtrar">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conciertos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conciertos.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conciertos.Lugar)
            </td>
             <td>
                  @Html.DisplayFor(modelItem => item.Conciertos.Fecha)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos.Nombre)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
